$primary: darken(#428bca, 20%);

@import '~bootstrap/scss/bootstrap';

.cart{
  margin-bottom: 20px;
  .cart-item{
    border-bottom: 1px solid $gray-400;
    padding: 20px 10px;

    &.cart-header{
      background-color: $gray-200;
      color: #FFF;
      border-bottom: 2px solid $gray-500;
      color: #000;
      font-weight: bold;
    }
  }
  .cart-total, .cart-total-full{
    padding: 5px 0px;
    .item-title{
      text-align: right;
    }
  }

  .cart-total-full{
    background-color: $gray-200;
    font-size: 1.2rem;
    .item-total{
      font-weight: bold;
    }
  }

  .cart-total-promo{
    color: red;
    .item-title{
      text-align: right;
    }
  }

  .cart-total-shipping .item-title{
    text-align: right;
  }
}