{% extends 'base.html.twig' %}

{% block title %}Panier - Test - Farmitoo {% endblock %}
{% block body %}
<div class="container">
    <h1> Contenu du panier </h1>
    {% if(cart.items|length > 0) %}
    <div class="cart">
        <div class="cart-item row cart-header">
            <div class="item-title col-6">Désignation</div>
            <div class="item-brand price col-3">Marque</div>
            <div class="item-price price col-2">P.U</div>
            <div class="item-qty col-1">Qté</div>
        </div>
        {% for item in cart.items %}
            <div class="cart-item row">
                <div class="item-title col-6">{{ item.product.title }}</div>
                <div class="item-brand price col-3">{{ item.product.brand }}</div>
                <div class="item-price price col-2">{{ item.product.price|number_format(2,',',' ') }}&euro;</div>
                <div class="item-qty col-1">{{ item.quantity }}</div>
            </div>
        {% endfor %}
        <div class="cart-total row">
            <div class="item-title col-9">Sous-total H.T</div>
            <div class="item-total col-3">{{cart.totalItemsWoVAT|number_format(2,',',' ')}}&euro;</div>
        </div>
        <div class="cart-total row">
            <div class="item-title col-9">Réductions</div>
            <div class="item-total col-3">- {{cart.totalPromo|number_format(2,',',' ')}}&euro;</div>
        </div>
        <div class="cart-total row">
            <div class="item-title col-9">Frais de port H.T</div>
            <div class="item-total col-3">{{cart.deliveryFees|number_format(2,',',' ')}}&euro;</div>
        </div>
        <div class="cart-total row">
            <div class="item-title col-9">Total H.T</div>
            <div class="item-total col-3">{{cart.totalWoVAT|number_format(2,',',' ')}}&euro;</div>
        </div>
        <div class="cart-total row">
            <div class="item-title col-9">TVA</div>
            <div class="item-total col-3">{{cart.totalVAT|number_format(2,',',' ')}}&euro;</div>
        </div>
        <div class="cart-total-full row">
            <div class="item-title col-9">Total T.T.C</div>
            <div class="item-total col-3">{{cart.total|number_format(2,',',' ')}}&euro;</div>
        </div>
    </div>
    <form>
        <input type="hidden" name="total" value="{{cart.total}}"/>
        <input type="hidden" name="devise" value="EUR"/>
        <input type="hidden" name="user" value="1234"/>
        <div class="go-to-paiement">
            <button type="submit" class="btn btn-primary">Passer au paiement</button>
        </div>
    </form>
    {% else %}
    <div class="alert alert-danger" role="alert">
      Panier vide
    </div>
    {% endif %}
</div>
{% endblock %}